<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.jacoco.tools.eclipse.lifecoding"
            name="Lifecoding">
      </category>
      <command
            categoryId="org.jacoco.tools.eclipse.lifecoding"
            defaultHandler="org.jacoco.tools.eclipse.lifecoding.MoveToNextTagHandler"
            id="org.jacoco.tools.eclipse.lifecoding.nextTag"
            name="Move to Next Tag">
      </command>
      <command
            categoryId="org.jacoco.tools.eclipse.lifecoding"
            defaultHandler="org.jacoco.tools.eclipse.lifecoding.MoveToPreviousTagHandler"
            id="org.jacoco.tools.eclipse.lifecoding.previousTag"
            name="Move to Previous Tag">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.jacoco.tools.eclipse.lifecoding.nextTag"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+.">
      </key>
      <key
            commandId="org.jacoco.tools.eclipse.lifecoding.previousTag"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+,">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status?after=additions">
         <toolbar
               id="org.jacoco.tools.eclipse.lifecoding.statusbar">
            <control
                  class="org.jacoco.tools.eclipse.lifecoding.CurrentCommitStatusLine">
            </control>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status?after=additions">
         <toolbar
               id="org.jacoco.tools.eclipse.lifecoding.statusbar">
            <control
                  class="org.jacoco.tools.eclipse.lifecoding.TimeStatusLine">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jacoco.tools.eclipse.lifecoding.DemoPerspective"
            icon="icons/full/elcl16/demo.png"
            id="org.jacoco.tools.eclipse.lifecoding.demo"
            name="Demo">
      </perspective>
   </extension>

</plugin>
